.card-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 10px;
}

.card-list h2 {
  color: var(--text-secondary);
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card-list p {
  color: var(--text-primary);
  line-height: 1.5;
  margin: 35px 0;
}

.card-list .card-link {
  background-color: #fef5f7;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 6px 0px 0 6px;
  text-decoration: none;
  width: 35%;
}

.card-link_p {
  color: #e63956 !important;
  display: flex;
  margin: 0 !important;
}
