.sub-category-list-header {
	color: var(--text-tertiary);
	font-size: 12px;
	padding: 0 10px;
	width: 70%;
}

.sub-category-list-header-info {
	display: flex;
	margin: 10px 5px 10px 5px;
}

.sub-category-list-header-text {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 5px;
	padding: 5px;
}

.sub-category-list-header-text:nth-child(1) {
	width: 15%;
}

.sub-category-list-header-text:nth-child(2) {
	width: 25%;
}

.sub-category-list-header-text:nth-child(3) {
	width: 10%;
}

.sub-category-list-header-text:nth-child(4) {
	width: 10%;
}

.sub-category-list-header-text:nth-child(5) {
	width: 10%;
}

.sub-category-list-header-text:nth-child(6) {
	width: 20%;
}
