.main-content_wrapper {
	h1 {
		font-size: 1.75em;
	}

	.sub-category-content-container {
		display: grid;
		grid-gap: 10px;
		font-size: 12px;

		.sub-category-content {
			grid-column: 1/4;
		}

		.ad-section {
			grid-column: 4/4;
			grid-row: 1/2;
			margin-top: 58px;
		}
	}
}
