.search {
  -webkit-appearance: none;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 25px;
  width: 25em;
  line-height: 22px;
  margin-top: 30px;
  margin-left: 10px;
}

.search::placeholder {
  color: #afafaf;
  font-size: 1.25em;
}
