.Navigation {
  background-color: #fff;
  width: 200px;
}

.app-title {
  display: flex;
  align-items: center;
}

.app-title h1 {
  font-size: 1.5em;
  margin: 15px 8px;
  padding-left: 25px;
}

.sidebar {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.nav-item,
.link-item {
  display: flex;
  align-items: center;
  color: black;
  padding: 16px 35px;
  position: relative;
  top: 35px;
  text-decoration: none;
}

.nav-item p,
.link-item p {
  margin: 7px 0 0 5px;
}
