.Navigation {
  background-color: #fff;
  width: 200px;
}

.sidebar {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.app-title {
  display: flex;
  align-items: center;
}

.app-title h1 {
  font-size: 1.5em;
  margin: 15px 8px;
  padding-left: 25px;
}

.app-title-span_left {
  color: var(--alt-color-primary);
}

.app-title-span_right {
  color: var(--alt-color-secondary);
}

.icon-colors path:nth-child(odd) {
  color: var(--alt-color-primary);
}

.icon-colors path:nth-child(even) {
  color: var(--alt-color-secondary);
}

.nav-item,
.link-item {
  display: flex;
  align-items: center;
  color: black;
  padding: 16px 35px;
  position: relative;
  top: 35px;
  text-decoration: none;
}

.link-item p,
.nav-item p {
  color: var(--text-primary);
  margin: 7px 0 0 5px;
}
