.countdown-clock-container {
	background-color: #000;
	width: 20.6em;

	.countdown-clock {
		padding: 0.75em;
		display: flex;
		justify-content: space-between;
		position: relative;

		.countdown-clock-placement {
			font-size: 12px;
			margin: 0 0.2em;

			.countdown-lock-number {
				background-color: #000;
				box-sizing: border-box;
				color: #fff;
				font-size: 3.2em;
				letter-spacing: 0.02em;
				line-height: 1.02em;
				margin: 0 0 0.25em;
				position: relative;
				top: 0.05em;
				left: 0.05em;
				width: 1.8em;
				height: 1.05em;
				text-align: center;

				span {
					position: absolute;
					left: 64px;
				}
			}

			.countdown-clock-label {
				color: #fff;
				font-size: 1.5em;
				text-align: center;
				padding-left: 0.15em;
			}
		}
	}
}
