:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #848484;
  --text-secondary: #3b3888;
  --text-tertiary: #201a73;
  --bg-primary: #f6f4fc;
  --bg-secondary: #e63956;
  --bg-tertiary: #f9b234;
  --alt-color-primary: #e63956;
  --alt-color-secondary: #3cc0f8;
  --alt-color-tertiary: #f9b234;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main-content_wrapper {
  border-radius: 7px;
  margin-left: 200px;
  padding: 3.5em 2.5em 1em;
}

.main-content {
  font-size: 12px;
}
