:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #848484;
  --text-secondary: #110f48;
  --bg-primary: #f6f4fc;
  --bg-secondary: #2d2b5e;
  --alt-color-primary: #e63956;
  --alt-color-secondary: #3cc0f8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
