.faq-page_content {
	background-color: #fff;
	border-radius: 10px;
	font-size: 12px;
	padding: 35px;
	margin: 15px;
}

.faq-header {
	color: var(--text-tertiary);
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0.85;
	margin: 20px 15px;
	padding-bottom: 5px;
}

.faq-info_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
	grid-gap: 25px;
}

.faq-info_text {
	color: var(--text-tertiary);
}

.faq-info-header {
	display: flex;
	align-items: baseline;
}

.faq-info_text h2 {
	font-size: 2em;
	margin: 0.25em 0.25em;
}

.faq-info_text p {
	font-size: 1.35em;
	line-height: 1.5;
	margin: 0;
	padding-left: 1.5em;
}
